@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Inter Var';
  src: url('../public/fonts/Inter.otf') format('opentype');
  font-style: normal;
  font-weight: 100 900;
}

html {
  font-family: 'Inter Var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

nav {
  z-index: -1;
  transition: 300ms ease-out transform;
}
#hamburger:checked ~ div nav {
  transform: none;
}

/* 
This is a hack. Right now the text from the menu would be on top of the nav bar, which looks bad. 
By delaying the fade in on inital "pull down" I can surpess the user from seeing it, as the text will 
only get visible on screen. Another option would be to just use a second navbar for mobile or swap to 
solid colors, but I really like the backdrop-filter 
*/
#hamburger ~ div nav li {
  transition-delay: 150ms;
}
#hamburger:checked ~ div nav li {
  transition-delay: 0ms;
}

label {
  width: 23px;
  height: 14px;
  cursor: pointer;
}
label span {
  position: absolute;
  display: block;
  background-color: currentColor;
  height: 2px;
  width: 100%;
  transition: 150ms ease-out transform, 100ms ease-in opacity;

  transform-origin: left;
  transition: 150ms ease-out transform, 100ms ease-in opacity;
}
label span:nth-child(2) {
  top: 50%;
}
label span:nth-child(3) {
  top: 100%;
}

#hamburger:checked ~ div label span:nth-child(1) {
  transform: rotateZ(45deg) translateY(-75%);
}
#hamburger:checked ~ div label span:nth-child(2) {
  opacity: 0;
}
#hamburger:checked ~ div label span:nth-child(3) {
  transform: rotateZ(-45deg) translateY(75%);
  transform-origin: left;
}

::selection {
  background-color: #79ebff;
  @apply text-off-black;
}

.w-reading {
  max-width: 750px;
}

.text-gradient {
  @apply bg-gradient;
  background-clip: text;
}

.bg-gradient {
  background: linear-gradient(to right bottom, #f20c3a, #ff0a7f);
}

*:hover.hover\:bg-gradient {
  background: linear-gradient(to right bottom, #f20c3a, #ff0a7f);
}

*:hover.hover\:text-gradient {
  @apply bg-gradient;
  background-clip: text;
}

@tailwind utilities;
